$bodyColor: #f6f8fa;
$btnColor: #254e85;
$textColor: #1aa260;
$warningColor: #c8312b;

* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    padding-top: 10px;
    background: $bodyColor;
}

button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    background: $btnColor;
    color: white;
    border: none;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        transform: scale(0.95);
    }
}

.wrapper {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;

    .menu {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .registr {
        margin: 18px 0px;
    }

    .resultValue {
        margin: 50px;
    }

    .inputValue {
        border-radius: 5px;
        padding-left: 5px;
        border: 1px solid;
        height: 30px;
        margin: 10px;
    }

    .filter {
        position: relative;
        .note {
            position: absolute;
            bottom: -10px;
            left: 15px;
            color: $warningColor;
            font-size: 0.8rem;
        }
    }

    ol {
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 5px 20px;
            color: $textColor;
            text-shadow: 0.2px 0.2px black;
        }
    }
}

.registr {
    position: relative;
    cursor: pointer;

    &:before {
        bottom: 18px;
        left: 50%;
        padding: 2px;
        width: 60px;
        margin-left: -20px;
        color: white;
        background-color: rgba(0, 0, 0, .85);
        content: attr(data-title);
        border-radius: 10px;
        box-shadow: border-box;
        text-align: center;
    }

    &:after {
        content: "";
        border-top: 8px solid rgba(0, 0, 0, .85);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: 10px;
        margin-left: -10px;
    }

    &:before,
    &:after {
        display: block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 15px;
        transition: opacity .7s, margin-bottom .7s;
        left: 50%;
    }

    &:hover {

        &:before,
        &:after {
            opacity: 1;
            margin-bottom: 0;
            visibility: visible;
        }
    }
}


@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) {
    button {
        width: 80%;
        height: 40px;
        font-size: 1.4rem;
    }
    .wrapper {

        .menu {
            flex-direction: column;
        }

        .resultValue {
            // margin: 50px auto;
        }

        .registr {
            margin-left: 10px;
        }

        .inputValue {
            width: 80%;
            height: 40px;
            font-size: 1.4rem;
        }

        ol {
            display: block;
            font-size: 1.2rem;
            li {
                margin: 0;
            }
        }
    }
}